[option]
#API URL and key for OpenAI API
openai-url = https://api.openai.com/v1
openai-apikey = sk-

#Target language for translation, e.g. "English", "Chinese", "Japanese"
target-language = Chinese



